<nav class="brown" role="navigation">
  <div class="nav-wrapper  brown container">
    <a id="logo-container" href="#" class="brand-logo white-text">Zicht op Bilzen</a>
    <ul class="right hide-on-med-and-down">
      <li><a href="#about" class="white-text">Over ons</a></li>
      <li><a href="#facilities" class="white-text">Faciliteiten</a></li>
      <li><a href="#sights" class="white-text">Bezienswaardigheden</a></li>
      <li><a href="#prices" class="white-text">Tarieven</a></li>
      <li><a href="#reservations" class="white-text">Contact & Reservatie</a></li>
    </ul>

    <ul id="nav-mobile" class="side-nav brown">
      <li><a href="#about" class="white-text">Over ons</a></li>
      <li><a href="#facilities" class="white-text">Faciliteiten</a></li>
      <li><a href="#sights" class="white-text">Bezienswaardigheden</a></li>
      <li><a href="#prices" class="white-text">Tarieven</a></li>
      <li><a href="#reservations" class="white-text">Contact & Reservatie</a></li>
    </ul>
    <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
  </div>
</nav>

<!-- Title -->

<div class="container">
  <div class="section">
    <div class="row">
      <div class="col s6 center offset-s3">
        <h4 class="uppercase">Zicht op Bilzen</h4>
        <h5 class="line-header">Holiday Home</h5>
      </div>
    </div>
  </div>
</div>

<!-- top image -->
<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">
      <br><br>
      <!-- <h1 class="header center teal-text text-lighten-2">Parallax Template</h1> -->
      <div class="row center">
        <!-- <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5> -->
      </div>
      <div class="row center">
        <!-- <a href="http://materializecss.com/getting-started.html" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Get Started</a> -->
      </div>
      <br><br>

    </div>
  </div>
  <div class="parallax"><img src="../assets/images/living.jpg" alt="Unsplashed background img 1"></div>
</div>

<!-- About -->

<div class="container" id="about">
  <div class="section">
    <div class="row">
      <div class="col s6 center offset-s3">
        <h4>Over ons</h4>
        <p>"Op wandelafstand van het knusse demerstadje Bilzen hebben wij een mooie vakantiewoning voor 2 personen ingericht in onze nieuwe pastoriewoning. Nadat we enkele jaren geleden onze B&B te Riemst verkocht hebben, bekroop ons opnieuw de goesting om op kleine schaal nog iets te beginnen."</p>
      </div>
    </div>
  </div>
</div>

<!-- Facilities -->

<div class="container" id="facilities">
  <div class="section">
    <div class="row">
      <div class="col s6 center offset-s3">
        <h4>Onze Faciliteiten</h4>
      </div>
      <div class="row">
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center brown-text"><i class="material-icons">wifi</i></h2>
          <h5 class="center">Internet</h5>
          <p class="light center">Tijdens je verblijf is er gratis wifi ter beschikking.</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center brown-text"><i class="material-icons">kitchen</i></h2>
          <h5 class="center">Eetruimte</h5>
          <p class="light center">In de keuken vind je alles om zelf eventueel te koken zoals koffiezet, waterkoker, microgolf, potten en pannen en allerlei keukengerief.</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center brown-text"><i class="material-icons">hotel</i></h2>
          <h5 class="center">Slaapruimte</h5>
          <p class="light center">De slaapkamer is gelegen op het eerste verdiep, met een mooi uitzicht op Bilzen.</p>
        </div>
      </div>

    </div>

    <div class="row">

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center brown-text"><i class="material-icons">hot_tub</i></h2>
          <h5 class="center">Badkamer</h5>
          <p class="light center">De badkamer, die zich naast de slaapkamer bevindt beschikt over een lavabo en douche.</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center brown-text"><i class="mdi mdi-pine-tree"></i></h2>
          <h5 class="center">Terras</h5>
          <p class="light center">Voor de woning kan je bij mooi weer lekker genieten op het terras</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center brown-text"><i class="material-icons">time_to_leave</i></h2>
          <h5 class="center">Gratis Parking</h5>
          <p class="light center">De wagen kan je parkeren op de bijhorende parkeeplaats. Ook de fietsen kunnen veilig worden opgeborgen in onze garage.</p>
        </div>
      </div>
    </div>

    <div class="row">

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center brown-text"><i class="material-icons">pets</i></h2>
          <h5 class="center">Huisdieren</h5>
          <p class="light center">Huisdieren zijn niet toegelaten</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center brown-text"><i class="material-icons">accessibility</i></h2>
          <h5 class="center">Toegankelijkheid</h5>
          <p class="light center">Hogere verdiepingen alleen per trap bereikbaar</p>
        </div>
      </div>
    </div>


    </div>
  </div>
</div>


<!-- Gallery -->

<div class="slider">
    <ul class="slides">
      <li *ngFor="let photo of gallery;">
        <img src="../assets/images/{{photo}}">
      </li>


    </ul>
  </div>

<!-- sights -->
<div class="container" id="sights">
  <div class="section">
    <div class="row">
        <h4 class="center">Wat kan je allemaal doen </h4>

        <div class="row">

          <div class="col s12 m4">
            <div class="icon-block">
              <h5 class="center">Winkelstadje Bilzen</h5>
              <p class="light center">Het mooie winkelstadje Bilzen is centraal gelegen.</p>
              <p class="light center"><i class="material-icons">location_on</i> < 1 km</p>
            </div>
          </div>

          <div class="col s12 m4">
            <div class="icon-block">
              <h5 class="center">Gallo-Romeins Museum</h5>
              <p class="light center">Het Gallo-Romeins Museum is een archeologisch museum gelegen in Tongeren</p>
              <p class="light center"><i class="material-icons">query_builder</i> di-vr: 08u tot 17u, za-zo: 10u tot 18u  </p>
              <p class="light center"><i class="material-icons">location_on</i> 10 km</p>
              <p class="light center"><i class="material-icons">info_outline</i><a href="http://www.galloromeinsmuseum.be"> www.galloromeinsmuseum.be</a></p>
            </div>
          </div>

          <div class="col s12 m4">
            <div class="icon-block">
              <h5 class="center">Historische stad Maastricht</h5>
              <p class="light center">Op enkele kilometers van Bilzen kan je de historische stad Maastricht bezoeken.</p>
              <p class="light center"><i class="material-icons">location_on</i> 15 km</p>
              <p class="light center"><i class="material-icons">info_outline</i><a href="http://www.top10bezienswaardigheden.nl/nederland/maastricht.htm"> top 10 bezienswaardigheden</a></p>
            </div>
          </div>

        </div>

        <div class="row">

          <div class="col s12 m4">
            <div class="icon-block">
              <h5 class="center">C-Mine Genk</h5>
              <p class="light center">Industrieel museum en cultureel centrum gevestigd in een oud kolenmijn complex met ondergrondse tochten.</p>
              <p class="light center"><i class="material-icons">location_on</i> 15 km</p>
              <p class="light center"><i class="material-icons">info_outline</i><a href="http://www.c-mine.be/Bezoek/Toerisme"> C-mine Genk</a></p>
            </div>
          </div>

          <div class="col s12 m4">
            <div class="icon-block">
              <h5 class="center">Alden Biezen</h5>
              <p class="light center">Alden Biesen is een 16e-eeuws kasteel in België, gelegen in de gemeente Bilzen in de provincie Limburg.</p>
              <p class="light center"><i class="material-icons">location_on</i> 5 km</p>
              <p class="light center"><i class="material-icons">info_outline</i><a href="http://www.alden-biesen.be/"> Alden Biesen</a></p>
            </div>
          </div>

          <div class="col s12 m4">
            <div class="icon-block">
              <h5 class="center">Wandelen & Fietsen</h5>
              <p class="light center">Wandelen kan o.a. in het Munsterbos, de Hoefaert of de bossen van Schoonbeek. Fietsen kan o.a. in het Nationale Park Hoge Kempen via de nabijgelegen toegangspoort Lieteberg in Zutendaal, waar je ook eens het blotevoetenpad kunt uitproberen.</p>
            </div>
          </div>

        </div>

    </div>
  </div>
</div>

<!-- image -->
<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">
      <br><br>
      <!-- <h1 class="header center teal-text text-lighten-2">Parallax Template</h1> -->
      <div class="row center">
        <!-- <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5> -->
      </div>
      <div class="row center">
        <!-- <a href="http://materializecss.com/getting-started.html" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Get Started</a> -->
      </div>
      <br><br>

    </div>
  </div>
  <div class="parallax"><img src="../assets/images/keuken.jpg" alt="Unsplashed background img 1"></div>
</div>

<!-- prices -->
<div class="container" id="prices">
  <div class="section">
    <div class="row">
      <div class="col s12 center">
        <h4>Tarieven</h4>
        <div class="row">

          <div class="col s12 m4 offset-m2">
            <div class="icon-block">
              <h5 class="center">2 Nachten</h5>
              <p class="light center">Aantal Personen: <i class="material-icons">person</i><i class="material-icons">person</i></p>
              <p class="light center">Prijs: 140 euro*</p>
            </div>
          </div>

          <div class="col s12 m4">
            <div class="icon-block">
              <h5 class="center">3 Nachten of meer</h5>
              <p class="light center">Aantal Personen: <i class="material-icons">person</i><i class="material-icons">person</i></p>
              <p class="light center">Prijs: op afspraak*</p>

            </div>
          </div>

        </div>
        <p class="center">*Prijzen zijn inclusief bed- en badlinnen</p>


      </div>
    </div>
  </div>
</div>

<!-- image -->
<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">
      <br><br>
      <!-- <h1 class="header center teal-text text-lighten-2">Parallax Template</h1> -->
      <div class="row center">
        <!-- <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5> -->
      </div>
      <div class="row center">
        <!-- <a href="http://materializecss.com/getting-started.html" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Get Started</a> -->
      </div>
      <br><br>

    </div>
  </div>
  <div class="parallax"><img src="../assets/images/badkamer.jpg" alt="Unsplashed background img 1"></div>
</div>

<!-- Reservationss -->
<div class="container" id="reservations">
  <div class="section">

    <div class="row">
      <div class="col s12 center">
        <h3><i class="mdi-content-send brown-text"></i></h3>
        <h4>Reservatie</h4>
        <p>Om te reserveren kan u telefonisch contact met ons opnemen of u kan onderstaand formulier invullen. Wij nemen hierna zo snel mogelijk contact met u op.</p>

        <div class="row">
  <form class="col s12" novalidate [formGroup]="form" (ngSubmit)="onSendMail(form.value)">
    <div class="row">
      <div class="input-field col s6">
        <input placeholder="" id="firstname" type="text" class="validate" [formControl]="form.controls['firstname']"
        [class.invalid]="form.controls['firstname'].hasError('required') && form.controls['firstname'].touched"
        [class.valid]="form.controls['firstname'].valid && form.controls['firstname'].touched"
        >
        <label for="firstname" data-error="Dit veld is verplicht">Voornaam</label>
      </div>
      <div class="input-field col s6">
        <input placeholder="" id="lastname" type="text" class="validate" [formControl]="form.controls['lastname']"
        [class.invalid]="form.controls['lastname'].hasError('required') && form.controls['lastname'].touched"
        [class.valid]="form.controls['lastname'].valid && form.controls['lastname'].touched"
        >
        <label for="lastname" data-error="Dit veld is verplicht">Achternaam</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <input placeholder="" id="phone" type="text" class="validate"  [formControl]="form.controls['phone']"
        [class.invalid]="!form.controls['phone'].valid && form.controls['phone'].touched"
        [class.valid]="form.controls['phone'].valid && form.controls['phone'].touched"
        >
        <label for="phone" data-error="Ongeldig telefoonnummer">Telefoonnummer</label>
      </div>
      <div class="input-field col s6">
        <input placeholder="" id="email" type="text" class="validate" [formControl]="form.controls['email']"
        [class.invalid]="!form.controls['email'].valid && form.controls['email'].touched"
        [class.valid]="form.controls['email'].valid && form.controls['email'].touched"
        >
        <label for="email" data-error="Ongeldig e-mailadres">E-mail</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <textarea id="message" class="materialize-textarea validate" [formControl]="form.controls['message']"
        [class.invalid]="form.controls['message'].hasError('required') && form.controls['message'].touched"
        [class.valid]="form.controls['message'].valid && form.controls['message'].touched"
        ></textarea>
        <label for="message" data-error="Dit veld is verplicht">Uw vraag of reservatie</label>
      </div>
    </div>
    <div class="row">
      <button type="submit" class="btn btn-primary brown" [disabled]="!form.valid" >Verstuur</button>
    </div>
  </form>
</div>
    </div>
  </div>
  <p class="center green-text" [hidden]="!send_success">Je bericht is succesvol verzonden. We nemen zo snel mogelijk contact met je op!</p>

  </div>
</div>


<footer class="page-footer teal brown">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Contact</h5>
          <div>
            <address class="grey-text text-lighten-4">
  						<strong class="text-orange bold">Zicht op Bilzen</strong><br>
  						Brabantsestraat 15<br>
  						3740 Bilzen, België<br>
              +32 472 77 55 41 of +32 491 11 50 05<br>
              <a href="mailto:mgijbels@gmail.com">mgijbels@gmail.com</a>
  					</address>

        </div>
      </div>
    </div>
    <div class="footer-copyright center teal brown">
      <div class="container">
      Copyright © {{ year }} door Zicht Op Bilzen
      </div>
    </div>
  </div>
  </footer>
